.task-list-header {
    font-size: 28px;
    color: black;
}

.task-list-container {
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.task-list-footer {
    margin-top: 20px;
    padding: 10px;
}